[submodule "impfpass-frontend"]
	path = impfpass-frontend
	url = https://github.com/hschaeufler/impfpass-frontend.git
[submodule "impfpass-backend"]
	path = impfpass-backend
	url = https://github.com/hschaeufler/impfpass-backend.git
